<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Abhisek-Daksh Smartsite</title>
  </head>
  <body>
    <h1>Welcome Client-Constructor Interface</h1>
    <h4>Select</h4>
    <a href="/client">Client</a>
    <a href="/constInterface">Constructor</a>
  </body>
</html>
